.home_section img{
  height: 88vh !important;
  
}
.home_section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img-overlay{
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.card_text{
  color: black;
  font-weight: 900;
  font-size: 1.4rem;
}
.card_title{
  color: black;
  font-weight: 900;
  font-size: 18px;
}
.products_image{
  height: 250px;
}
.products_card{
  height: 300px;
}